// Define variables for your color scheme

$font-black: #292F36;

$light-red: #FD737A;
$dark-red: #D0434A;

$light-yellow: #FFD066;
$dark-yellow: #DDAB2B;

$light-purple: #A2A8F9;
$dark-purple: #7E80CF;

$light-aqua: #76E7D0;
$dark-aqua: #31C1B0;


$light-blue: #F6FCFD;
$border-blue: #D5E1E5;

$button-orange: #E96B35;
$accent-blue: #3656BF;


$orange: #E67E22;
$green: #3BDC8F;
$dark-green: #299641;

$gray: #0E0000;
$light-gray: #cacaca;
$white: #FFFFFF
