// Define variables for your color scheme

// For example:
$red: #DC3B61;
$dark-red: #660D22;

// $blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #3BDC8F;
$dark-green: #299641;

$gray: #0E0000;
$light-gray: #F4F4F4;

$light-blue: #F6FCFD;
$background-blue: #D5E1E5;
$button-orange: #E96B35;
$accent-blue: #3656BF;
$font-black: #292F36;
