.backgroundImagePast {
  display: flex;
  background-image: url("withoutJam.jpg");
  height: 94vh;
  background-position: center;
  background-size: cover;
}

.backgroundImageFuture {
  display: flex;
  background-image: url("withJam.jpg");
  height:94vh;
  background-size: cover;
  background-position: center;
}

.textFuture {
  display: flex;
  align-items: center;
  text-shadow: 0.5px 0.5px black;
  text-decoration: underline;
}

.textPast {
  display: flex;
  width: 100%;
  align-items: center;
  text-shadow: 0.5px 0.5px black;
  justify-content: right;
  text-decoration: underline;
}

.row-m0 {
  margin: 0px;
}

.lessOpacity {
  opacity: 0.3;
  transition: visibility 0s linear 600ms, opacity 600ms;
}

.fullOpacity {
  opacity: 1 !important;
  transition: visibility 0s linear 600ms, opacity 600ms;
}
// filter: blur(1px);

.centerHome {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 75px;
}

.listHomeHead {
  color: $font-black;
  list-style-type: none;
}

.exploreButtonHome {
  margin-top: 30px;
  margin-bottom: 60px;
}

.circleHome {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-color: white;
  object-fit: cover;
  margin: 20px;
}

.displayInline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
  border-radius: 50px;
  background: #D5E1E5;
  box-shadow:  20px 20px 60px #b5bfc3,
             -20px -20px 60px #f5ffff;
}

.containerAllBelow {
  height: 100vh;
}

.containerAbout {
  display: flex;
  justify-content: center;
}

.keywordList {
  font-weight: bold !important;
}
