<div class="parent-container d-flex">
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <h1 class="text-center mt-5">New application</h1>
                   <%= render 'form' %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
              <img src="https://images.pexels.com/photos/4065621/pexels-photo-4065621.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="img-new" width="100%">
            </div>
        </div>
    </div>
</div>

