<div class="parent-container d-flex">
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <h1 class="text-center mt-5">New application</h1>
                   <%= render 'form' %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
              <img src="https://images.pexels.com/photos/8636616/pexels-photo-8636616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-new" width="100%">
            </div>
        </div>
    </div>
</div>

