 <div class="wrapper">
     <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="profile_picture">
                <h3>First name</h3>
            </div>
            <!--menu items-->
            <ul>

                <li>
                    <a href="#">
                      <span class="icon"><i class="fas fa-desktop"></i></span>
                      <span class="item">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-heart"></i></span>
                        <span class="item">Favorites</span>
                    </a>
                </li>


                <li>
                    <a href="#">
                        <span class="icon"><i class="far fa-plus-square"></i></span>
                        <span class="item">Add application</span>
                    </a>
                </li>


                 <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="item">Log out</span>
                    </a>
                </li>
                
                
            </ul>
        </div>
    </div>


  








