 <div class="wrapper">

     <!--Top menu -->
        <div class="sidebar">
            <!--logo -->
           <!--profile image & text-->
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="profile_picture">
                <h3>Welcome back, <%= current_user.first_name if current_user.present? %></h3>

            </div>
            <!--menu items-->
            <ul>

                <li>
                    <%= link_to new_job_application_path, class: "icon-text" do %>
                      <i class="fas fa-plus-square"></i>New application</i>
                    <% end %>

                </li>
                    
                 <li>
                     <a id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                     <span class="icon"><i class="fas fa-check-circle"></i></span>
                     </span class="item">Active</span></a>
                 </li>

                 <li>
                     <a id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                     <span class="item"><i class="fas fa-archive"></i></span>Archived</a>
                 </li>
                <hr>

                <li>
                    <%=link_to  job_applications_path do %>
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Dashboard</span>
                    <% end %>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-alt"></i></span>
                        <span class="item">Profile</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-question"></i></span>
                        <span class="item">FAQ</span>
                    </a>
                </li>
                  <hr>

                 <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="item">Log out</span>
                    
                    <% end %>
                </li>
                
            </ul>
        </div>
    </div>


  







