<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="card-product">
  <div class="card-product-infos">
    <h2>Job title</h2>
    <h2>Company</h2>
    <h2>Status</h2>
    <h2>Applied</h2>

  </div>
</div>

