<div class="row row-m0" data-controller="row">
  <div class="backgroundImagePast col-6" id="pastBackground">
    <h1 data-action="click->job-applications#revealContent" class="textPast" id="past">past</h1>
  </div>
  <div class="backgroundImageFuture col-6" id="futureBackground">
    <h1 class="textFuture" id="future">future</h1>
  </div>
</div>
