<h1>Kitchen sink</h1>

<!-- Primary blue button, hover orange--> 
<h2>
    <a class="primary-btn" href="#">primary-button</a>

</h2>
<!-------------------End Primary blue button-------------->

<!-- card --> 

<div class="card-product">
  <div class="card-product-infos">
    <h2><i class="far fa-heart"></i></h2>
    <h2>Job title</h2>
    <h2>Company</h2>
    <h2>Applied</h2>
    <h2>Status</h2>
  </div>
</div>


<!-- End card --> 


<!------------------------------   Dropdown --> 


<h2> 
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Pending</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" href="#">Rejected</a>
         <a class="dropdown-item" href="#">In process</a>
         <a class="dropdown-item" href="#">Unanswered</a>
      </div>
    </div>
</h2>

<!------------------------------   End Dropdown ------------------> 
