.tableContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 30px;
}

.containerStatisticCards {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.containerHeadSearch {
  display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.containerHome {
height: 100vh;
}

#goToBottomHome {
  scroll-behavior: smooth;
}
