.tableContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 30px;
}
.tableContainerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 30px 30px 30px 0px;
}

.containerStatisticCards {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.containerHeadSearch {
  display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.containerHome {
height: 100vh;
}

.containerContentHomeBelow {
  padding-bottom: 25px;
  margin-left: 100px;
}

.containerAboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containertextAboutUs {
  flex-direction: column;
  align-items: left;
}

// .about-us-container {
//   margin-bottom: 500px;
// }
