*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper .sidebar{
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 24px 0;
    transition: all 0.5s ease;
    border-right: 1px solid $border-blue;


}
.wrapper .sidebar .logo{
  height: 32px;
  width: 146px;

  margin-left: 51px;
  margin-bottom: 27px;
}



.wrapper .sidebar .profile{
    margin-bottom: 32px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: $font-black;
    font-size: 24px;

}
.wrapper .sidebar ul li a{
    display: block;
    padding: 16px 32px;
    color: $font-black;
    font-size: 16px;
    position: relative;
    margin: 0;
}

.wrapper .sidebar ul li a .icon{
    color: $font-black;
    width: 32px;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{

    text-decoration: none;
}

.wrapper .sidebar ul hr{
    border: 1px $border-blue solid;
    margin-top: -8px;
    margin-bottom: 4px;
}
