.centerHeadline{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableCard {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.tableCardExample {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
  position: sticky;
  top: 0;
}

.tableCard:hover {
  transform: scale(1.02);
}

.logoIndex {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.circlePurple {
  display: flex;
  border: 2px solid $light-purple;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-purple;
}


.circleRed {
  display: flex;
  border: 2px solid $light-red;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-red;
}

.circleGreen {
  display: flex;
  border: 2px solid $light-aqua;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-aqua;
}

.circleYellow {
  display: flex;
  border: 2px solid $light-yellow;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-yellow;
}

.applicationCardTitle {
  display: flex;
  width: 215px;
  justify-content: center;
  align-items: center;
}

.applicationCardCompanyName {
  display: flex;
  width: 241px;
  justify-content: center;
  align-items: center;
}

.applicationCardLevel {
  display: flex;
  width: 215px;
  justify-content: center;
  align-items: center;
}

.applicationCardTitleExample{
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.applicationCardCompanyNameExample {
  display: flex;
  width: 243px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.applicationCardLevelExample {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.circleExample {
  display: flex;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
}

.logoExample {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.whiteout {
  color: white !important;
  background-color: white !important;
}

.circlePurpleFilter {
  display: flex;
  border: 2px solid $light-purple;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-purple;
}

.circleBlackFilter{
  display: flex;
  border: 2px solid #4b4d50;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: #4b4d50;
}
.circleRedFilter {
  display: flex;
  border: 2px solid $light-red;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-red;
}

.circleGreenFilter {
  display: flex;
  border: 2px solid $light-aqua;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-aqua;
}

.circleYellowFilter {
  display: flex;
  border: 2px solid $light-yellow;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: $light-yellow;
}

.circlePurpleFilter:hover {
  background-color: $light-purple;
  color: white;
  transition: 0.5s;
}

.circleRedFilter:hover {
  background-color: $light-red;
  color: white;
  transition: 0.5s;
}

.circleYellowFilter:hover {
  background-color: $light-yellow;
  color: white;
  transition: 0.5s;
}

.circleGreenFilter:hover {
  background-color: $light-aqua;
  color: white;
  transition: 0.5s;
}

.circleBlackFilter:hover {
  background-color: #4b4d50;
  color: white;
  transition: 0.5s;
}
.filterStretch {
  margin-left: 20px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
}

.subheaderApplications {
  margin-top: 50px;
  margin-left: 40px;
}
.subheaderApplicationsOne {
  margin-left: 45px;
}

.subheaderApplicationsPara {
  margin-left: 45px;
}



.starColorYellow {
  color: $dark-yellow;
}

.hr {
  width:100%;
  height:1px;
  background: #fff;
  margin-bottom: 200px;
}

.dateTimeDashboard {
  margin-top: 20px;
  margin-right: 20px;
}
